* {
  box-sizing: border-box;
}
body {
  display: flex;
  font-family: Arial, sans-serif;
  margin: 0;
}

.sidebar {
  background-color: #33353b;
  color: white;
  padding: 20px 0px;
  height: 100vh;
  width: 248px;
  box-sizing: border-box;
  position: relative;
}

.logo-wrap {
  display: flex;
  margin-top: 30px;
  justify-content: center;
}

.logo {
  display: block;
  width: 176px;
  height: 32px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin-top: 40px;
}

.sidebar ul li {
  display: flex;
  align-items: center;
}

.sidebar ul .tx {
  margin-bottom: 2rem;
  padding: 16px 32px;
}

.sidebar ul li a {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: 14px;
  gap: 24px;
  width: 100%;
  opacity: 0.7;
  padding: 16px 32px;
}

.sidebar ul li a:hover {
  opacity: 1;
}

.sidebar ul li a.active {
  background-color: #15a46a;
  opacity: 1;
}

.sidebar ul li .tx-link {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  opacity: 1;
  padding: 0px;
  border-radius: 0.5rem;
}

.tx-btn {
  border: none;
  font-size: 16px;
  transition: all 0.3s;
  line-height: 1.2;
  padding: 17px 0 18px;
  height: 3rem;
  width: 100%;
  background-color: #15a46a;
  border-radius: 0.5rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.tx-btn:hover {
  background-color: #128456;
}

.main-content {
  max-width: 630px;
  width: 100%;
  padding: 48px 15px;
  margin: 0 auto;


}

.main-content-container {


  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 8px;

    h3 {
      font-size: 28px;
    }

    .language {
      position: relative;
      display: flex;
      align-items: center;
      margin-left: auto;
    }
    
    .language-btn {
      width: 78px;
      padding: 8px 20px 8px 10px;
      font-size: 14px;
      border: 1px solid #e7eaee;
      border-radius: 4px;
      background-color: #f8f9fa;
      color: #333;
      cursor: pointer;
      position: relative;
      transition: background-color 0.3s;
    }
    
    .language-btn::after {
      content: '';
      border: solid #333;
      border-width: 0 1px 1px 0;
      display: inline-block;
      padding: 2px;
      transform: rotate(45deg);
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
      pointer-events: none; /* 아이콘 클릭 불가 */
    }

    .language-btn:hover {
      background-color: #e7eaee;
    }
    
    .language-popup {
      display: none;
      position: absolute;
      top: 110%;
      left: 0;
      z-index: 1000;
      width: 100px;
      border: 1px solid #e7eaee;
      border-radius: 4px;
      background-color: #fff;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }
    
    .language-popup ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    
    .language-popup li {
      padding: 10px;
      cursor: pointer;

      &.active{
        /* 와이어바알리 컬러 초록 */
        background-color: #15a46a;   
        color: #fff;

        &:hover {
          background-color: #128456;
        }
      }
    }
    
    .language-popup li:hover {
      background-color: #f0f0f0;
    }
  }
}

.panel.active {
  display: block;
}

.nav-container {
  position: relative;
  height: 100vh;
}

.nav-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 18px 32px;
  font-size: 12px;
  opacity: 0.7;

  p {
    margin: 0px;
    font-weight: 600;
  }
}

.nav-footer p:last-child {
  margin-top: 12px;
  font-weight: 300;
}

.nav-footer a {
  color: #fff;
  text-decoration: none;
}

.nav-footer a:hover {
  text-decoration: underline;
}
