* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
}

#container {
  position: relative;
  width: 90%;
  height: 80%;
  box-shadow: 0 0 15px 1px #3b3b41;
  background-color: rgba(0, 0, 0, 1);
  border-radius: 15px;
}

#input {
  margin-top: 20px;
  width: 180px;
  height: 45px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #3b3b41;
  border-radius: 5px;
  box-shadow: 0 0 15px 1px #b1b1b1;
}

.word {
  position: absolute;
  color: #0f0;
  font: "40px monospace";
  font-size: 20px;
  font-weight: 500;
}
